*{
    margin: 0;
    padding: 0;
}
.prasoon{
    height: 100vh;
    width: 100%; 
   
    background-position: center;
    background-size: cover;
    position: relative;
    
}
nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
